.search-form {
    width: 100%;
    padding: 20px;

    &__title {
        font-size: 48px;
        font-weight: 100;
    }

    &__input {
        width: 100% !important;
    }

    &__btn {
        height: 52px;
        padding: 0 15px;
    }
}
